:root {
    --page-color: #B8CEAC;
    --section-color: #C7DD91;
    --shadow-color: #6E8D6D;
    --code-bg-color: #e9e9e9;
    --link-color: #4A6A1Fc1;
    --link-hover-color: #60733F;
    --link-visited-color: #5F5C73;
    --link-visited-hover-color: #7E7A99;
    --row-border-color: #4A6A1Fc1;
    --border-color: #46448899;
    --header-color: #46446de6;
    --text-color: #4D5B1F;
    --topnav-color: var(--link-hover-color);
    --arcaea: #1f1e33; /* lol haha Arcaea */
}
/* old palette is just. moved to dark mode. lol */
@media (prefers-color-scheme: dark) {
    :root {
        --page-color: #B7B988;
        --section-color: #C9CB9A;
        --shadow-color: #8E90604B;
        --code-bg-color: #8E90604B;
        --link-color: #8E9060;
        --link-hover-color: #565742;
        --link-visited-color: #44435B;
        --link-visited-hover-color: #666487;
        --row-border-color: #8E90604B;
        --border-color: #46448899;
        --header-color: #46446de6;
        --text-color: #DDDEC7;
        --topnav-color: #B7B988;
        --arcaea: #e0e1cc; /* lol haha Arcaea */
    }
}
body {
    background: var(--page-color);
    font-family: Calibri, sans-serif;
    margin: auto;
    max-width: 80%;
    letter-spacing: 0.2px;
    padding-bottom: 10em;
}

header {
    padding-top: 0.5rem;
    font-size: 2rem;
    margin: auto;
    text-align: center;
    font-family: Verdana, monospace;
}

main {
    display:grid;
    grid-template-columns: 50% auto;
}

p {
    color: var(--text-color);
    text-align: left;
    padding-left: 7.5%;
    font-size: 18px;
    font-family: Calibri, sans-serif;
}

main > p {
    padding: 0;
    margin-left: 10px;
    margin-right:10px;
    margin-top: 24px;
}
h1 {
    color: var(--arcaea);
    font-size: 36px;
    opacity: unset;
}

hr {
    border: 4px solid var(--border-color);
    border-radius: 2px;
    width: 85%;
}

h2 {
    color:var(--header-color);
    font-size:36px;
    padding-left:7.5%;
}

a {
    color: var(--link-visited-color);
    text-decoration: none;
}
a:visited {
    color: var(--link-visited-color);
}
a:hover {
    color: var(--link-visited-hover-color);
    text-decoration: underline;
}
a:visited:hover {
    color: var(--link-visited-hover-color);
}

footer {
    p {
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
        padding-left:0;
    }
}

footer > img {
    box-shadow: 0 2px 6px var(--shadow-color);
    overflow: scroll;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Add a background color to the top navigation */
.topnav {
    background-color:var(--page-color);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--topnav-color);
    color: var(--page-color);
}

/* active page */
.topnav a.active {
    background-color: #C7DBC9;
    color: var(--text-color);
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
