:root {
    --page-color: #B8CEAC;
    --section-color: #C7DD91;
    --shadow-color: #6E8D6D;
    --code-bg-color: #e9e9e9;
    --link-color: #4A6A1Fc1;
    --link-hover-color: #60733F;
    --link-visited-color: #5F5C73;
    --link-visited-hover-color: #7E7A99;
    --row-border-color: #4A6A1Fc1;
    --border-color: #46448899;
    --header-color: #46446de6;
    --text-color: #4D5B1F;
    --topnav-color: var(--link-hover-color);
    --arcaea: #1f1e33; /* lol haha Arcaea */
}
/* 
old palette defunct as of now 
@media (prefers-color-scheme: dark) {
    :root {
        --page-color: #B7B988;
        --section-color: #C9CB9A;
        --shadow-color: #8E90604B;
        --code-bg-color: #8E90604B;
        --link-color: #8E9060;
        --link-hover-color: #565742;
        --link-visited-color: #44435B;
        --link-visited-hover-color: #666487;
        --row-border-color: #8E90604B;
        --border-color: #46448899;
        --header-color: #46446de6;
        --text-color: #DDDEC7;
        --topnav-color: #B7B988;
        --arcaea: #e0e1cc;  lol haha Arcaea 
    }
}
*/

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

body {
    background: var(--page-color);
    font-family: Calibri, sans-serif;
    margin: auto;
    max-width: 80%;
    letter-spacing: 0.2px;
    padding-bottom: 10em;
}

header {
    margin: auto;
}

header > h1 {
    padding-top: 0.5rem;
    font-family:Comic Sans MS, cursive;
    font-weight:bold;
    font-size:3rem;
    text-align:center;
    color: var(--arcaea);
    opacity: unset;
}
header > .topnav {
    text-align: left;
    font-family: Verdana, monospace;
    background-color:var(--page-color);
    overflow: hidden;
    grid-template-rows: auto;
    grid-auto-columns: auto;
    padding: 0.8rem;
}

/* Style the links inside the navigation bar */
header > .topnav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    text-align:center;
    padding: 2rem;
}


/* Change the color of links on hover */
header > .topnav a:hover {
    background-color: var(--topnav-color);
    color: var(--page-color);
}

/* active page */
header > .topnav a.active {
    background-color: #C7DBC9;
    color: var(--text-color);
}

/* Hide the link that should open and close the topnav on small screens */
header > .topnav .icon {
    display: none;
}

/* honestly i dont remember what this is for */
p {
    color: var(--text-color);
    text-align: left;
    padding-left: 7.5%;
    font-size: 18px;
    font-family: Calibri, sans-serif;
}

main {
    display:grid;
    grid-template-rows:auto;
    grid-template-columns: 50% auto;
}

main > p {
    padding: 0;
    margin-left: 10px;
    margin-right:10px;
    margin-top: 24px;
}
.art > p {
    font-size: 20px;
}
.art h2 {
    color: var(--header-color);
    font-size: 36px;
    font-family: Calibri, sans-serif;
    text-align:center;
}

/* 
we are not using this 
hr {
    border: 4px solid var(--border-color);
    border-radius: 2px;
    width: 85%;
}
*/

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

a:visited:hover {
    color: var(--link-visited-hover-color);
}

#clock {
    display:block;
    font-size: 300%;
    margin-bottom: 0.5em;
    font-weight: normal;
    font-family:Segoe UI Light, sans-serif;
    color:var(--text-color)
}

footer {
    p {
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
    }
}

img {
    box-shadow: 0 2px 6px var(--shadow-color);
    overflow: scroll;
    max-width: 100%;
}

/* Remove extra left and right margins, due to padding */
.thingyGrid {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    border-color: var(--row-border-color);
    border-style:dashed;
    /* the size of the dots */
    border-width: 5px;
    width:90%;
}

/* Float four columns side by side */
.thingyColumn {
    width:47%;
    padding: 1.5%;
    margin-top: -10px;
    margin-bottom: -10px;
}

@media (max-width: 1810px) {
    .thingyGrid {
        flex-direction:column;
    }
    .thingyColumn {
        width:98%;
        padding: 1%;
    }
}



/* Style the counter cards */
.card {
    box-shadow: 0 4px 6px 0 var(--shadow-color);
    padding: 0 8px 8px;
    text-align: center;
    background-color: var(--code-bg-color);
    /* this is the part that gives you "separation" between cards */
    margin: 16px 0;
}

.card > p {
    padding-left:0;
    text-align:center;
    margin-top:-18px;
    font-family: Segoe UI, sans-serif;
}

.card > h3 {
    font-family:Segoe UI Light, sans-serif;
    padding:12px 0 0 0;
    font-size:24px;
    color:var(--text-color)
}